body {
  background-color: aquamarine;
}
.topbox {
  background-color: rgb(77, 77, 77);
  height: 60pt;
  border-bottom: 5pt yellow solid;
  margin-top: -20pt;
}

h1.heading1 {
  color: red;
  text-align: left;
  padding-top: 10pt;
  padding-left: 10pt;
  float: left;
}

img.PLicon {
  margin-top: 20pt;
  padding-left: 5pt;
  padding-top: 5pt;
}

.loginStreak {
  float: right;
  color: white;
  padding-top: 10pt;
  margin-top: 15pt;
  padding-right: 15pt;
}

table.topleft {
  padding-top: 15pt;
  float: right;
  color: white;
}
img.pikaIcon {
  height: 30pt;
}

a{
  text-decoration: none;
  text-decoration-color: none;
  color: white;
}
a.logout {
  text-decoration: none;
  text-decoration-color: none;
  color: lightgreen;
  float: right;
  padding-right: 20pt;
}

a.logout:hover {
  text-decoration: underline;
}

.sidepanel {
  width: 90pt;
  height: auto;
  background-color: rgb(77, 74, 74);
  color: white;
  float: left;
  margin-left: -200pt;
  margin-top: 1pt;
}


input.SearchBox
{
  margin-top: 7pt;
  width: 50pt;
  background-color: black;
  color: white;
  text-align: center;
  float: left;
  margin-left: 5pt;
}

input.SearchIcon
{
  margin-top: 7pt;
  background-image: url(./assets/SearchIcon1.png) ;
  background-size: 20pt 15pt;
  width: 20pt;
  cursor: pointer;
  float: right;
  margin-right: 5pt;

}

table.sidetable td {
   padding: 10pt;;
   text-align: center;
   height: 5pt;
   width: 5pt;
   
   border-bottom: 2px black solid;
}
.gameimage {

  margin-left: -100pt;
  width: 1pt;
  float: left;

}

.chatbox {
  float: right;
  margin-top: 5pt;
}

.chatbox table {
  height: 460pt;
  background-color: black;
  width: 300pt;
}

.chatbox input {
  width: 300pt;
}

 .game-tips {
   margin-top: 500pt;
   margin-left: 200pt;
   font-weight: bold;
   font-size: large ;
 }

 .signature {
   text-align: center;
   font-size: larger;
   font-weight: bold;
   color: rgb(230, 24, 110);
 }























/* 
.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 6px;
  text-decoration: none;
  display: block;
}

.dropdown:hover {background-color: #ddd;}

.show {display: block;} */
